%html
  %head
    %script{:src => "//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"}
    %script{:src => "/scripts/todo.js"}
    %link{:href => "/styles/todo.css", :rel => "stylesheet", :type => "text/css"}
    %link{:href=>"http://fonts.googleapis.com/css?family=Inconsolata:400,700", :rel=>"stylesheet", :type=>"text/css"}
  %body
    %div.content
      %h2 Muggleyoung's todo list
      %input.addNote
      %ul.notes
